{% extends 'articles/base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
<a href="/articles"> Назад к списку статей </a>
<h1>{{article.article_title}}</h1>
{% if article.was_published_recently %}
<em>СВЕЖАЯ СТАТЬЯ!</em>

<p>{{article.article_text}}</p>
{% endif %}
<em>{{article.pub_date}}</em>


<hr>
{% if latest_comments_list %}
    {% for c in latest_comments_list %}
        <p>
            <strong>{{c.author_name}}</strong>
            {{c.comment_text}}
            <br /><em>{{c.pub_date}}</em>
        </p>
    {% endfor %}
{% else %}
Комментарии не найдены
{% endif %}
<hr>

<form action="{% url 'articles:leave_comment' article.id %}" method="post">
    {% csrf_token %}
    <input type="text" required placeholder="Ваше имя" name="name"><br>
    <textarea name="text" required="" placeholder="Тект комментария" cols="30" rows="10"></textarea><br>
    <button type="submit">Оставить комментарий</button>
</form>

{% endblock %}