{% extends 'articles/base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
 <div class="page-header">
     <p><a href="/articles"> Назад к списку статей </a></p>
     <h1>{{article.article_title}}</h1>
    {% if article.was_published_recently %}
    <em>СВЕЖАЯ СТАТЬЯ!</em>
     {% endif %}
 </div>
<div class = 'content container'>
    <div class="post">
        <p>{{article.article_text|linebreaksbr}}</p>
        <div class = 'data'>
             <em>{{article.pub_date}}</em>
        </div>
    </div>
    <hr>
    <p><h2>Комментарии:</h2></p>
    {% if latest_comments_list %}
        {% for c in latest_comments_list %}
                <strong>{{c.author_name}}: </strong>
                <br />{{c.comment_text}}
                <div class="datacom">
                    <em>{{c.pub_date}}</em>
                </div>
            </p>
        {% endfor %}
    {% else %}
    <strong>Комментарии не найдены</strong>
    {% endif %}
    <hr>

    <form action="{% url 'articles:leave_comment' article.id %}" method="post">
        {% csrf_token %}
        <input type="text" required placeholder="Ваше имя" name="name"><br>
        <textarea name="text" required="" placeholder="Тект комментария" cols="30" rows="10"></textarea><br>
        <button type="submit">Оставить комментарий</button>
    </form>

</div>
{% endblock %}