{% extends 'articles/base.html' %}

{% block title %}
Последние статьи
{% endblock %}

{% block content %}
    {% if latest_articles_list %}
            {% for a in latest_articles_list %}
                <div class="post">
                    {% if user.is_authenticated %}
                        <h2><a href="{% url 'articles:detail' a.id %}">{{a.article_title}}</a></h2>
                    {% endif %}
                        <div class = 'datecom'>
                            <p>Опубликовано: {{a.pub_date}}</p>
                        </div>
                </div>
            {% endfor %}
    {% else %}
            Статьи не найдены =(
    {% endif %}
{% endblock %}