{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/articles.css' %}">
        <title>Последние статьи blog</title>
    </head>

    <body>
        <div class="page-header">
            <h1>Последние статьи</h1>
        </div>

        <div class="content container">
                    {% if latest_articles_list %}
                        {% for a in latest_articles_list %}
                            <div class="post">
                                <h2><a href="{% url 'articles:detail' a.id %}">{{a.article_title}}</a></h2>
                                <div class = 'date'>
                                    <p>Опубликовано: {{a.pub_date}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        Статьи не найдены =(
                    {% endif %}
        </div>
    </body>
</html>